/* Contact */
.contact {
    background-color: var(--color-lightblue);
}

.contact__container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 3rem 0;
    width: 80%;
}

.contact__left {
    display: flex;
    width: 50%;
}

.contact__image {
    width: 50%;
}

.contact__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.contact__item {
    color: var(--color-darkgray);
    font-weight: 500;
    text-decoration: none;
}

.contact__form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact__tittle {
    color: var(--color-darkgray);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.contact__input {
    border: none;
    border-bottom: 1px solid var(--color-lightgray);
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.contact__input:focus,
.contact__input:active {
    outline: none;
}

.contact__input--area {
    height: 6rem;
    resize: none;
}

.contact__btn--form {
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    color: var(--color-white);
    cursor: pointer;
    padding: 1rem 0;
    transition: 0.3s;
    width: 200px;
}

.contact__btn--form:hover {
    background-color: var(--color-bluehover);
}

@media screen and (max-width: 1024px) {
    .contact__container {
        padding: 2rem;
        width: auto;
    }

    .contact__left {
        flex-direction: column;
        width: 40%;
    }

    .contact__image {
        width: 100%;
    }

    .contact__nav {
        padding-left: 0;
    }

    .contact__nav li {
        padding: 1rem 0;
    }

    .contact__form {
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
    .contact__container {
        align-items: center;
        flex-direction: column;
        padding: 1rem;
    }

    .contact__left {
        width: auto;
    }

    .contact__nav {
        align-items: center;
    }

    .contact__nav li {
        padding: 0.5rem 0;
    }

    .contact__form {
        width: 100%;
    }
}