/* Products */
.products {
    background-color: var(--color-gray);
}

.products__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 3rem;
    width: 80%;
}

.products__section {
    padding: 3rem 0 0 0;
}

.products__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.products__headerAll {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.products__title {
    color: var(--color-darkgray);
    font-size: 2rem;
    margin: 1rem 0;
}

.products__viewAll {
    color: var(--color-blue);
    display: flex;
    font-weight: 700;
    text-decoration: none;
}

.products__imgArrow {
    margin-left: 10px;
}

.products__btn--add {
    background-color: var(--color-blue);
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
    transition: 0.3s;
    width: 200px;
}

.products__btn--add:hover {
    background-color: var(--color-bluehover);
}

.products__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
}

.card {
    box-sizing: border-box;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    width: 90%;
}

.card__image {
    width: 100%;
}

.card__actions {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.card__btn {
    align-items: center;
    border: none;
    border-radius: 10px;
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    margin: 0 0.5rem 0.5rem 0;
    padding: 5px;
}

.card__btn--delete {
    background-color: var(--color-red);
}

.card__btn--edit {
    background-color: var(--color-green);
}

.card__name {
    color: var(--color-darkgray);
    margin-bottom: 0.3rem;
}

.card__price {
    color: var(--color-darkgray);
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.card__view {
    color: var(--color-blue);
    font-weight: 700;
    text-decoration: none;
}

.card__id {
    color: var(--color-darkgray);
}

@media screen and (max-width: 1024px) {
    .products__container {
        width: auto;
    }

    .products__section {
        padding: 2rem 0;
    }

    .products__header {
        padding: 0 1rem;
    }

    .products__title {
        margin: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .products__section {
        padding: 1rem 0;
    }

    .products__cards {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }

    .products__title {
        font-size: 1.5rem;
    }

    .card {
        width: 90%;
    }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .products__headerAll {
        flex-direction: column;
    }

    .products__btn--add {
        margin: 1rem 0 0 0;
    }

    .products__cards {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media screen and (max-width: 425px) {
    .products__headerAll {
        flex-direction: column;
    }

    .products__btn--add {
        margin: 1rem 0 0 0;
    }

    .products__cards {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}