/* View Product */
.viewProduct {
    background-color: var(--color-gray);
}

.viewProduct__container {
    display: flex;
    margin: auto;
    padding: 3rem 0 0;
    width: 80%;
}

.viewProduct__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0 2rem;
    width: 50%;
}

.viewProduct__tittle {
    color: var(--color-darkgray);
    font-size: 3rem;
    font-weight: 500;
}

.viewProduct__price {
    color: var(--color-darkgray);
    font-weight: 700;
    margin: 0.5rem 0;
}

.viewProduct__description {
    color: var(--color-darkgray);
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .viewProduct__container {
        padding: 2rem 1rem;
        width: auto;
    }

    .viewProduct__image {
        width: 50%;
    }

    .viewProduct__info {
        padding: 0.5rem;
    }

    .viewProduct__tittle {
        font-size: 2rem;
    }
}

@media screen and (max-width: 767px) {
    .viewProduct__container {
        flex-direction: column;
        padding: 0 1rem;
    }

    .viewProduct__image {
        width: auto;
    }

    .viewProduct__info {
        margin: 0;
        padding: 1rem 0.5rem;
        width: auto;
    }
}